:root {
    --corfundo: rgba(233, 224, 252, 0);
    --corEntradas: rgba(255, 255, 255, 0.50);
    --bordaFraca: rgb(228, 85, 228);
    --bordaForte: rgb(149, 2, 152);
    --corEscura: #4E2597;
}

main { 
    display: grid;
    justify-content: center;
    grid-template-columns: 900px 300px;
}

.div_forum {
    padding: 10px;
    padding-top: 0;
    border-radius: 3px;
    width: auto;
    display: flex;
    flex-direction: column;
    margin: 5px;
    color: var(--corEscura);
}

.relato_conteudo {
    width: auto;
}

.relato_conteudo div, h2, p {
    margin: 0;
}

.relato_conteudo div {
    border: 2px solid var(--bordaForte);
    background-color: var(--corfundo);
    padding: 5px;
    border-radius: 3px;
    width: auto;
    overflow: hidden;
    overflow-wrap: break-word ;
}

.relato_conteudo p {
    height: 40px;
    overflow: hidden;
}

.relato_conteudo h6 {
    margin: 1px;
}

.relato {
   
}

.novo_relato {
    display: none;
    flex-direction: column;
    justify-content: center;
    width: auto;
    align-items: center;;
    border: 2px solid var(--bordaForte);
    background-color: var(--corfundo);
    border-radius: 3px;
    padding: 5px;
}

.novo_relato input {
    width: 300px;
    border-radius: 3px;
    background-color: white;
    border: solid 2px var(--bordaForte);
}

.novo_relato textarea {
    width: 800px;
    border-radius: 3px;
    background-color: white;
    border: solid 2px var(--bordaForte);
}

.div_titulo_relato {
    display: grid;
    grid-template-columns: 400px 400px ;
}

button {
    color: white;
    background-color: var(--corEscura);
    border: 0;
    border-radius: 3px;
    padding: 5px;
}

.extra_forum {
    background-color: var(--corfundo);
    border-radius: 3px;
    top: 0%;
    height: 300px;
    width: 300px;
    margin: 5px;
    border-radius: 3px;
    position: initial;
}

.extra_forum button {
    display: flex;
    height: 40px;
    justify-content: center;
    align-items: center;
    position: absolute;
    padding: 10px;
}

.button_icon {
    height: 20px;
    filter:invert();
}
