:root {
    --corfundo: rgba(233, 224, 252);
    --corEntradas: rgba(255, 255, 255, 0.50);
    --bordas: #d1b7e5;
    --corEscura: #4E2597;
}

main { 
    display: grid;
    justify-content: center;
    grid-template-columns: 900px 300px;
}

.div_forum {
    background-color: var(--corfundo) ;
    padding: 10px;
    border-radius: 5px;
    width: auto;
    display: flex;
    flex-direction: column;
    margin: 5px;
    color: var(--corEscura);
}

.relato_conteudo {
    width: auto;
}

.relato_conteudo div, h2, p {
    margin: 0;
}

.relato_conteudo div {
    background-color: var(--corEntradas);
    width: auto;
}


.relato {
    background-color: var(--corEntradas);
    border-radius: 5px;
    padding: 5px;
}

.novo_relato {
    display: none;
    flex-direction: column;
    justify-content: center;
    width: auto;
    align-items: center;
    background-color: var(--corEntradas);
    padding: 5px;
    border-radius: 3px;
}

.novo_relato input {
    width: 800px;
    border-radius: 3px;
    background-color: var(--corfundo);
}

.novo_relato textarea {
    width: 800px;
    border-radius: 3px;
    background-color: var(--corfundo);
}

button {
    color: white;
    background-color: var(--corEscura);
    border: 0;
    border-radius: 3px;
    padding: 5px;
}

.extra_forum {
    top: 0%;
    height: 300px;
    width: 300px;
    background-color: var(--corfundo);
    margin: 5px;
    border-radius: 5px;
    position:initial;
}

.extra_forum button {
    height: 30px;
    margin: 10px;
    position: fixed;
}

