<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="../CSS/css_geral.css">
    <link rel="stylesheet" href="../CSS/css_relatos.css">

    <script src="../JS/script.js"></script>
</head>
<body>
    <div id="popupContainer">
        <div id="popupContent">
            <!-- Conteúdo do pop-up -->
            <h2>Atenção!</h2>
            <p>Deseja realmente acionar o guardião?</p>
            <div id="format">
                <form action="{% url 'inicio'%}" method="POST">{% csrf_token %}
                    <button type="submit" id="botao_confirmar">Confirmar</button>
                </form>
                <button  id="closePopup">Cancelar</button>
            </div>
        </div>
    </div>
    <head>
        <div id="div_head">
            <div id="form_head">
                <a href="{%url 'aila'%}">CHAT</a>

                <a href="{%url 'inicio'%}">INÍCIO</a>
                
                <a href="{%url 'faq'%}">FAQ</a>

                <a href="{%urel 'relatos'%}"><u>FALA</u></a>
            </div>
            <hr>
        </div>
    </head>
    <main>
        <div class="div_forum">
            <div class="novo_relato">
                <div class="div_titulo_relato">
                    <div>
                        <p>Titulo</p>
                        <input id = "entrada_titulo" type="text" placeholder="Insira o Titulo">
                    </div>
                    <div>
                        <p>Codinome</p>
                        <input id = "entrada_codinome"type="text" placeholder="Insira um codinome....">
                    </div>
                </div>
                <div class="div_corpo_relato">
                    <p>Relato</p>
                    <textarea id="entrada_corpo" cols="30" rows="10" placeholder="Diga algo..."></textarea>
                </div>
                <div>
                    <button onclick = "Cancelar()">Cancelar</button>
                    <button onclick="EnviarRelato()">Enviar</button>
                </div>
            </div>
            <div class = "relato_expandido">
                
            </div>
            <div class = "relato_conteudo">
                <a id = "relato" onclick = "ExpandirRelato()">
                    <div>
                        <h2>Joaquim</h2>
                        <p>adasdasdasd</p>
                        <h6>Autor: Joaquim</h6>
                    </div>
                </a>
            </div>
        </div>
        <div class = "extra_forum">
            <button onclick = "NovoRelato()"><img class = "button_icon" src="../IMG/documento.png" alt="">Novo Relato</button>
        </div>
    </main>
    <footer>
        <div>
            <div id="absolute">
                <div id="botoes-acao">
                    <img src="../IMG/botao_guardiao 1.png" alt=""  class="bnt_gardiao" id="botao_guarda">
                </div>
              </div>
        </div>
    </footer>
</body>
</html>